ion-spinner {
    display: block;
    margin: auto;
    transform: scale(3);
    color: #cf68f8;
    background-color:transparent !important;
  }

  .title{
    color: white;
  }

  .bold {
    font-weight: bold;
  }
  
  .cardh{
    background-color: #099;
  }
  
  .titulo{
  color: white;
  }
  
  .item{
  background-color:none;
  border-color: none;
  --border-style: none;
  
  }

  .person{
    color: white;
  }

  ion-toolbar{
    //--background: linear-gradient(to right, #4b1e52, #6b2e77, #8c40a0, #ad54cb, #cf68f8);
    --background:linear-gradient(to right, #702d8b, #873ba5, #9e4ac0, #b659dc, #cf68f8);
    color: white;
  }

  .cardheaderscolpos {
    //--background: linear-gradient(to right, #4b1e52, #6b2e77, #8c40a0, #ad54cb, #cf68f8);
    --background:linear-gradient(to right, #702d8b, #873ba5, #9e4ac0, #b659dc, #cf68f8);

    color: white;
  }