<ion-header  translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button  defaultHref="/detecmama" ></ion-back-button>
    </ion-buttons>
    <ion-title >
      {{title}}
    </ion-title>
    <ion-button fill="clear"   slot="end" [routerLink]="['/detecmama-pac-archivo']">
      <ion-icon class="icontoolbar" name="file-tray-full" size="large" ></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
   
    <ion-searchbar 
    class="ion-text-uppercase"
    placeholder="Busqueda..."
    inputmode="text"
    (ionChange)="onSearchChange( $event )"
  ></ion-searchbar>
  <div class="ion-text-center">
    <ion-badge> TOTAL: {{numPacientes}} </ion-badge>
</div>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
   <!-- ion skeleton start -->
   <ion-list *ngIf="loading">
    <ion-item  >
      
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
  
      <ion-label  >
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item  >
      
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
  
      <ion-label  >
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item  >
      
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
  
      <ion-label  >
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item  >
      
      <ion-thumbnail slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
  
      <ion-label  >
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- ion skeleton ends -->
 
  <ion-list  *ngIf="!loading">
    <ion-item *ngFor="let pac of unidadFiltrada | filtropac:busqueda "  [routerLink]=" ['/detecmama-pacientes-detail',pac.no]"  >
    <ion-icon name="person" size="large" class="iconperson"></ion-icon>
    <ion-label  >
     
      <h2> {{pac.nombre}} </h2>
      <p>Fecha de Toma {{pac.fAtencion}} </p>
      <p>Sicam: {{pac.sicam}} </p>
      <p> {{pac.unidadMedica}} </p>
      <!-- <p *ngIf="pac.dxCito != '' ">Tiene Resultado</p> -->
    
    </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
